# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
android/.gradle/
android/app/build/
*.iml
*.log

# Visual Studio Code
.vscode/
.idea/
